/* ||BANNER MOBILE E DESKTOP|| */
.banner-mobile {
    width: 100%;
    max-width: 414px;
    height: 598px;
    padding: 1px;
}
.banner-mobile > img {
    display: block;
}

.banner-desktop {
    width: 100%;
    max-height: 700px;
    padding: 1px;
}
.banner-desktop > img {
    display: block;
    width: 100%;
    max-width: 1920px;
    height: auto;
}

/* ||BANNER NOTEBOOK|| */
.notebook-banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 414px;
    height: 484px;
    background: #E0E0E0;
    padding: 32px 23px;
}
.notebook-banner > figure > img {
    margin-bottom: 23px;   
}